@page
@model Razorpages.Pages.Book.IndexModel
@{
    ViewData["Title"] = "Book List";
}
<a asp-action="Create" class="btn btn-primary" mb-2> Create New book</a>
<div class="card shadow">
    <div class="card-header">
      @ViewData["Title"]
</div>
<div class="card-body">
<table class="table table-striped table-hover table-responsive">
    <thead>
     <tr>
     <th>@Html.DisplayNameFor(model =>model.Books[0].Id)</th>
     <th>@Html.DisplayNameFor(model =>model.Books[0].BookTitle)</th>
      <th>@Html.DisplayNameFor(model => model.Books[0].BookDescription)</th>
      <th>@Html.DisplayNameFor(model =>model.Books[0].Author)</th>     </tr>
    </thead>
    <tbody>
         @if(Model.Books!=null && Model.Books.Any()){
          @foreach (var book in Model.Books)
         {
             <tr>
                 <td>@Html.DisplayFor(Model =>book.Id)</td>
                 <td>@Html.DisplayFor(Model =>book.BookTitle)</td>
                 <td>@Html.DisplayFor(Model =>book.BookDescription)</td>
                  <td>@Html.DisplayFor(Model => book.Author)</td>
                  <td>
                                <a asp-action="Edit" asp-route-id="@book.Id" class="btn btn-primary">Edit</a>"
                                <a asp-action="Delete" asp-route-id="@book.Id" class="btn btn-primary">Delete</a>"
                  </td>
             </tr>

                    }
                    }
                else
                {
                    <tr>
                        <td colspan="5">No books are available</td>
                     </tr>
                }
                
         </tbody>

</table>
</div>
</div>